
<html>
        <head>
		<title> Template de teste</title>
		<script type="text/javascript" src="/static/js/mapUtil2.js"></script>
		<link type="text/css" rel="stylesheet" media="screen" href="/static/css/estilos.css" />
 		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

		<!-- Important Owl stylesheet -->
		<link type="text/css" rel="stylesheet" media="screen" href="/static/css/owl.carousel.css" />
                <link type="text/javascript" href="/static/js/owl.carousel.min.js"/>
		<!-- Default Theme -->
		<link rel="stylesheet" href="/static/css/owl.theme.css">
 
		<!--  jQuery 1.7+  -->
		<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
 
		<!-- Include js plugin -->
		<script type="text/javascript" src="/static/js/owl.carousel.js"></script>

         	 <style>
			 html, body, #map-canvas {
        		 height: 100%;
        		 margin: 0px;
        		 padding: 0px
     			 }


			#fot .item{
			  background: #a1def8;
  			  padding: 20px 0px;
			  display: block;
			  margin: 5px;
			  color: #FFF;
			  -webkit-border-radius: 3px;
			  -moz-border-radius: 3px;
			  border-radius: 3px;
			  text-align: center;
			}

    		</style>

		
		<script>

                       $(document).ready(function() {
			

				var data = null;
                                var owl = $("#owl-demo");
 				var f = $("#fot");
 
				owl.owlCarousel({
					 jsonPath : "/static/js/datas.json", 
					 jsonSuccess : customDataSuccess,
     					 slideSpeed : 300,
  				         paginationSpeed : 400,
      					 singleItem:true,
					 pagination:false
 
  				 });

  
                                 f.owlCarousel({
				// $("#fot").owlCarousel({
    					jsonPath : "/static/js/data.json",
					navigation : true,
					pagination:false 
  				 });

                                  
 		 		 $("#nx").click(function(){
				    	console.log('next event');
					owl.trigger('owl.next');
  				 });
					

			         $("#pv").click(function(){
				    	console.log('prev event');
					owl.trigger('owl.prev');
  				 });
					
				$("#go").click(function(){
					var to = $('#go2').val();
					console.log('go to: '+to);
				        owl.trigger('owl.goTo', to);                                
                                 });
 
				
				 $("#g").click(function(){
					var t1 = $('#g1').val();
                         		t1 = t1-1;
                         		$("#fot").trigger('owl.goTo',t1); 
                                 });

				customDataSuccess(data);
				
			});
                      


                       var list = new Array();
                       var map;
			

                       function initialize() {

                            var mapOptions = {zoom: 10,center: new google.maps.LatLng(-33.9, 151.2)}
			    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			    setMarkers(map, beaches, list);
                       	    //createTable(list, map);
                        }


			var beaches = [
			  ['Bondi Beach', -33.890542, 151.274856, 4],
			  ['Coogee Beach', -33.923036, 151.259052, 5],
			  ['Cronulla Beach', -34.028249, 151.157507, 3],
			  ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
			  ['Maroubra Beach', -33.950198, 151.259302, 1]
			];



			google.maps.event.addDomListener(window, 'load', initialize);
			
	        </script>


	</head>
	<body>
                <div id="site">
                <div id="header"></div>
		<div id="conteudo2">
			
			<img id="pv" src="/static/img/picturepanel-left.png" > </img>
			<img id="nx" src="/static/img/picturepanel-right.png" align="right"> </img>
			<div id="owl-demo" class="teste"></div>
                        
			
			<div> 
			     <input  id="go2" type="text" size="1"/> 
			     <button id="go" type="button">go</button> 
			</div>
		        <div>
			     <input  id="g1" type="text" size="1"/>
                             <button id="g" type="button">go</button>
                        </div>
                </div>
                <div id="conteudo">
                      <div id="map-canvas"></div>
                </div>
                <div id="footer">
.    	                 <div id="fot" class="owl-carousel owl-theme"></div>
    		</div>


		</div>
          </div>
 
	</body>




</html>
